<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bwie.weidushopping">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    //相机
    <uses-permission android:name="android.permission.CAMERA" />
    //网络监听权限
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/tb"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".startpage.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".loginandzhucepage.loginpage.view.LoginActivity" />
        <activity android:name=".homepage.view.HomeActivity" />
        <activity android:name=".loginandzhucepage.zhucepage.view.ZhuCeActivity" />
        <activity android:name=".homepage.fragmentwode.allsubclasses.btnwoziliao.view.MyMessageActivity" />
        <activity android:name=".homepage.fragmentwode.allsubclasses.btnwodequanzi.view.QuanZiActivity" />
        <activity android:name=".homepage.fragmentwode.allsubclasses.btnwodezuji.view.ZuJiActivity" />
        <activity android:name=".homepage.fragmentwode.allsubclasses.btnwodeqianbao.viewqianbao.QianBaoActivity" />
        <activity android:name=".homepage.fragmentwode.allsubclasses.btnwodedizhi.view.DiZhiActivity" />
        <activity android:name=".homepage.fragmentwode.allsubclasses.btnwodedizhi.adddizhi.NewAddressActivity" />
        <activity android:name=".homepage.fragmentquanzi.view.FaBuActivity"></activity>
    </application>

</manifest>